<!DOCTYPE html>
{% load static %}
<html lang="zxx">
<head>
<meta charset="UTF-8">
<meta name="description" content="Ogani Template">
<meta name="keywords" content="Ogani, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Ogani | Template</title>

<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&amp;display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'ogani/css/A.bootstrap.min.css%2bfont-awesome.min.css%2belegant-icons.css%2bnice-select.css%2bjquery-ui.min.css%2bowl.carousel.min.css%2bslicknav.min.css%2bstyle.css%2cMcc.4YNTZ7I7f2.css.pagespeed.cf.sbKPPdYIiz.3c' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'ogani/css/bootstrap.min.css%2bfont-awesome.min.css%2belegant-icons.css%2bnice-select.css%2bjquery-ui.min.css%2bowl.carousel.min.css%2bslicknav.min.css%2bstyle.css.pagespeed.cc.4YNTZ7I7f2.css' %}" type="text/css" />
</head>

<body>
 {% include 'ogani/navbar.html' %}
 {% block content %} {% endblock %}
 {% include 'ogani/footer.html' %}

<script src="{% static 'ogani/js/jquery-3.3.1.min.js'%}"></script>
<script src="{% static 'ogani/js/bootstrap.min.js%2bjquery.nice-select.min.js.pagespeed.jc.08NHUfMhux.js'%}"></script>
 <script>eval(mod_pagespeed_ND6iIrfFHB);</script>
<script>eval(mod_pagespeed_2CR7bSFHcL);</script>
<script src="{% static 'ogani/js/jquery-ui.min.js'%}"></script>
<script src="{% static 'ogani/js/jquery.slicknav.js'%}"></script>
<script src="{% static 'ogani/js/mixitup.min.js'%}"></script>
<script src="{% static 'ogani/js/owl.carousel.min.js'%}"></script>
<script src="{% static 'ogani/js/main.js'%}"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
<script defer src="../../../static.cloudflareinsights.com/beacon.min.js" data-cf-beacon='{"rayId":"669038cd6e1a498d","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2021.6.0","si":10}'></script>
</body>
</html>